.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .header {
    flex: 30%;
    background-color: lightblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
